# Python First Class
This is python First class.

In [3]:
print(123) #intergers(int)

123

In [6]:
print("Hello PIAIC") #string

Hello PIAIC

In [7]:
print('Hello PIAIC') #String

Hello PIAIC

In [12]:
#decimal (.0) number (float)

In [31]:
print(0.1, 0.6) #floats

0.1 0.6

In [13]:
# boolean True False

In [36]:
print (True) #boolean

True

In [15]:
print(0.1) # float

0.1

In [17]:
print() # shift + tab

In [21]:
print(123,3.45, "Hello", False)

123 3.45 Hello False

In [22]:
print(123,3.45, "Hello", False, sep = "")

1233.45HelloFalse

In [23]:
print(123,3.45, "Hello", False, sep = "==")

123==3.45==Hello==False

In [24]:
print(123,3.45, "Hello", False, sep = "I am Seperator")

123I am Seperator3.45I am SeperatorHelloI am SeperatorFalse

In [25]:
print('Hello World')
print('Hello Python')
print('Hello Piaic')

Hello World
Hello Python
Hello Piaic

In [2]:
print('Hello World', end = '')
print('Hello Python', end = '')
print('Hello Piaic')

Hello WorldHello PythonHello Piaic

In [28]:
print('Hello World', end = '\t')
print('Hello Python', end = '\t')
print('Hello Piaic')

Hello World	Hello Python	Hello Piaic

In [29]:
print('Hello World', end = '\tt')
print('Hello Python', end = '\tt')
print('Hello Piaic')

Hello World	tHello Python	tHello Piaic

# Assighnment
You have to search all Escape Character of pyton and have to implement them as well

 Variables

In [40]:
age = 26

In [41]:
print(age)

26

In [44]:
age = 'Ali'

In [45]:
print(age)

Ali

In [46]:
name = "Nasir Hussain"

In [47]:
result = True

In [49]:
1name = "test" #variable can't start with number

SyntaxError: invalid syntax (<ipython-input-49-531aad0baa22>, line 1)

In [50]:
n1am2m3e4 = "Haseeb"

In [54]:
#special character  variable nahe ban sakte

In [55]:
# * \

In [56]:
# onle _ ho sakta hai

In [57]:
# Variable ke name mai space nahe a sakta
nam me = "test"

SyntaxError: invalid syntax (<ipython-input-57-91183330c210>, line 2)

In [59]:
True = 223 # python code can't be use

SyntaxError: can't assign to keyword (<ipython-input-59-f7ae2917c069>, line 1)

In [60]:
x = 4
y = 5
z = x + y
print(z)

9

In [62]:
a = 4 # 1 bhe float hua to total float hojaiga
b = 4.5 #float
c = a + b
print(c)

8.5

In [65]:
4/4 #divition python mai float he aiega

1.0

In [66]:
# ager integer mai answer chahiay to double slash lagainge
# because it discard decimal part
4 // 4

1

In [67]:
10 / 3

3.3333333333333335

In [68]:
10 // 3

3

In [71]:
round((10 / 3),3) #ager . ke bat 3 value chahiay

3.333

In [73]:
print("apple " * 5)

apple apple apple apple apple

# Concatenating
2 value ko jorna

In [74]:
a = "10"
b = "20"

In [77]:
type(a) #type function type bata dega

str

In [78]:
type(b)

str

In [80]:
a + b # concatenation

'1020'

In [81]:
age = 10
name = "Ali"
print("My name is name and my name is age")

My name is name and my name is age

In [82]:
# string formation, string concatenation

In [1]:
x = int(input()) # type casting
type(x)

5

int

In [3]:
name = input("What is your name? ") #1st
age = int(input("What is your age? "))

print("My name is "  + name + " and my age is " + str(age))

What is your name? san
What is your age? 5
My name is san and my age is 5

In [3]:
name = input("What is your name? ") # 2nd tareka
age = int(input("What is your age? "))

print("My name is {} and my age is {}".format(name, age)) #place holder

What is your name? bilal
What is your age? 30
My name is bilal and my age is 30

In [4]:
name = input("What is your name? ") # 3rd tareka
age = int(input("What is your age? "))

print(f"My name is {name} and my age is {age}")

What is your name? bilal
What is your age? 30
My name is bilal and my age is 30

In [5]:
# google researce center
# need internet
# colab. ressearch

In [4]:
print(‘hello’ + ‘-‘ + ‘how’ + ‘-‘ + ‘are’ + ‘you’)

SyntaxError: invalid character in identifier (<ipython-input-4-128e95fa3e24>, line 1)

In [6]:
float (22%3)

1.0