# List / array(in other language)

In [86]:
students = ["ali", "hamza", "asad", "saqib"]
#indes       0        1       2        3
type(students)

list

In [87]:
aList = ["karachi", 120, 3405, True]
print(aList)

['karachi', 120, 3405, True]

In [88]:
# list index
students[0]

'ali'

In [89]:
# tareke list me se 1 name delete ke

In [91]:
#1st del stutudents index vise delete
del students[2]
students

['ali', 'hamza', 'saqib']

In [55]:
#2 tareka value vise delete
students.remove("saqib")
students

['ali', 'hamza']

In [56]:
students[1] = "hussain"  #update
students

['ali', 'hussain']

In [57]:
city =[]

In [58]:
city.append("karachi")
city

['karachi']

In [59]:
city.append("lahore")
city

['karachi', 'lahore']

In [60]:
city.append("lahore")
city

['karachi', 'lahore', 'lahore']

In [61]:
city.append("karachi")
city

['karachi', 'lahore', 'lahore', 'karachi']

In [62]:
city.append("lahore")
city

['karachi', 'lahore', 'lahore', 'karachi', 'lahore']

In [63]:
city.insert(2, "sibi") # to insert on particular index
city

['karachi', 'lahore', 'sibi', 'lahore', 'karachi', 'lahore']

In [64]:
# last mai daldega qk 20 tak list nahe hai
city.insert(20, "quetta")
city

['karachi', 'lahore', 'sibi', 'lahore', 'karachi', 'lahore', 'quetta']

In [65]:
# get index
city.index("quetta")

6

In [66]:
# spelling mistake
city.index("Quetta")

ValueError: 'Quetta' is not in list

In [67]:
#sbse pehle wala name btaiga
city.index("lahore")

1

In [68]:
city.index("lahore", 2) # to find 2 se agay wala index

3

In [69]:
# kitne list mai name hai
len(city)

7

In [70]:
# pore list ke element delete kerdena
city.clear()

In [71]:
sortList = [2, 56, 23, 3, 87, 9]

In [74]:
# sort in assending order .sort()
sortList.sort()
sortList

[2, 3, 9, 23, 56, 87]

In [75]:
sortList.sort(reverse = True)
sortList

[87, 56, 23, 9, 3, 2]

In [76]:
aList = ["a", "b","hamza", "z","c"]

In [80]:
# accending order mai sort karega
aList.sort()
aList

['a', 'b', 'c', 'hamza', 'z']

In [81]:
# sirf revrse karega accending order mai nahe karega
aList.reverse()
aList

['z', 'hamza', 'c', 'b', 'a']

In [82]:
# copy of a list

In [92]:
nun = [34, 5, 89, 23, 67, 98]
for i in nun:
    print(i)

34
5
89
23
67
98

In [99]:
# copy of list or refrence of list
numbers = [34, 5, 89, 23, 67, 98]

In [95]:
k = numbers

In [96]:
print(k)

[34, 5, 89, 23, 67, 98]

In [97]:
numbers.append(100)
print(numbers)

[34, 5, 89, 23, 67, 98, 100]

In [98]:
print(k)

[34, 5, 89, 23, 67, 98, 100]

In [102]:
# pased by refrence
k.append(200)
print(k)

[34, 5, 89, 23, 67, 98, 100, 200, 200]

In [103]:
print(numbers)

[34, 5, 89, 23, 67, 98]

In [110]:
# 1st tareka Copy the list
a = numbers.copy()
print(a)

[34, 5, 89, 23, 67, 98]

In [111]:
a.append(500)

In [112]:
print(a)
print(numbers)

[34, 5, 89, 23, 67, 98, 500]
[34, 5, 89, 23, 67, 98]

In [114]:
# 2nd tareka copy ka
b = a[:]
print(b)

[34, 5, 89, 23, 67, 98, 500]

# List into List

In [145]:
list1 = [1, 2, 3, 4, 5, ["apple", "orange", "mango"], students] # student purani list hai usko call kerdia
# index  0  1  2  3  4        5

In [146]:
list1[5]

['apple', 'orange', 'mango']

In [147]:
list1

[1, 2, 3, 4, 5, ['apple', 'orange', 'mango'], ['ali', 'hamza', 'saqib']]

In [148]:
list1[5][2]

'mango'

In [149]:
list1[6][0]

'ali'

In [150]:
list1

[1, 2, 3, 4, 5, ['apple', 'orange', 'mango'], ['ali', 'hamza', 'saqib']]

In [151]:
list1[6].insert(1, "Asadullah")
list1

[1,
 2,
 3,
 4,
 5,
 ['apple', 'orange', 'mango'],
 ['ali', 'Asadullah', 'hamza', 'saqib']]

In [152]:
students

['ali', 'Asadullah', 'hamza', 'saqib']

In [153]:
list1

[1,
 2,
 3,
 4,
 5,
 ['apple', 'orange', 'mango'],
 ['ali', 'Asadullah', 'hamza', 'saqib']]

In [154]:
# remove
list1[6].remove("Asadullah")
list1

[1, 2, 3, 4, 5, ['apple', 'orange', 'mango'], ['ali', 'hamza', 'saqib']]

In [155]:
4 in list1

True

In [157]:
"mango" in list1[5]

True

# Slicing in list

In [158]:
list2 = ["a", "c", "d", "e", "f"]
list2

['a', 'c', 'd', 'e', 'f']

In [162]:
s = list2[2:4]
print(s)

['d', 'e']

In [163]:
list2[1:3]

['c', 'd']

In [165]:
list2[2:5]

['d', 'e', 'f']

In [166]:
list2[2:]

['d', 'e', 'f']

In [168]:
list2[:]

['a', 'c', 'd', 'e', 'f']

In [172]:
# slising hamesha left to right jate hai

In [173]:
list2[4:2] # ulta likha hai is liay nahe hua

[]

# Negative indexing

In [174]:
list3 = ["apple", "orange", "bananas", "grapes", "melon", "peech", "watermelon"]
#index   -7           -6         -5      -4          -3      -2        -1

In [175]:
list3[-1]

'watermelon'

In [176]:
list3[-6]

'orange'

In [177]:
# slising
# always left to right

In [178]:
list3[-5:]

['bananas', 'grapes', 'melon', 'peech', 'watermelon']

In [180]:
list3[-5:4] #?

['bananas', 'grapes']

In [181]:
list3

['apple', 'orange', 'bananas', 'grapes', 'melon', 'peech', 'watermelon']

In [182]:
list3[-5:4]

['bananas', 'grapes']

In [183]:
list3[-5:1]

[]

# Popping

In [185]:
list4 = ["asad", "hamza", "ali"]
print(list4)
a = list4.pop()
print(a)

['asad', 'hamza', 'ali']
ali

In [186]:
print(list4)

['asad', 'hamza']

In [188]:
list5 = ["asad", "hamza", "ali"]
list5.pop(1)

'hamza'

In [2]:
list5 = ["asad", "hamza", "ali", "saad"]
poppedValue = list5.pop()
poppedValue

'saad'

In [1]:
poppedValue = list5.pop()
poppedList.append(poppedValue)

NameError: name 'list5' is not defined

In [193]:
# assignment
# 2d list
# input leke task list mai add
# perform task
# complete task mai dalo jo perform hojai
# list empty hojai to code crash na ho
# if else condition chaladen

In [194]:
# or manual task list
# pop kerke finish wala completed task me chala jaiga

In [ ]:
# git hub link